body {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:    "verde verde verde"
                            "giallo rosso blu"
                            "arancio arancio blu";
}
